<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div id="main"></div>
      <div class="buttons">
        <button
          type="button"
          @click="() => {
            openModalNode = !openModalNode
            if(openModalNode) {
              openModalRelation = false;
              openModalEdge = false;
              openModalAlg = false;
            }
          }"
          class="btn-f btn-create-node"
        >
          + NÓ
        </button>
        <button
          type="button"
          @click="() => {
            openModalEdge = !openModalEdge
            if(openModalEdge) {
              openModalRelation = false;
              openModalNode = false;
              openModalAlg = false;
            }
          }"
          class="btn-f btn-create-node"
        >
          + Aresta
        </button>

        <button
          type="button"
          class="btn-f btn-create-edge"
          @click="() => {
            openModalRelation = !openModalRelation
            if(openModalRelation) {
              openModalNode = false;
              openModalEdge = false;
              openModalAlg = false;
            }
          }"
        >
          + Relação
        </button>
      </div>
      <div class="buttons pos-left">
        <button type="button" class="btn-f btn-create-node">BFS</button>
        <button
          type="button"
          class="btn-f btn-create-node"
          @click="() => {
            openModalAlg = !openModalAlg
            if(openModalAlg) {
              openModalRelation = false;
              openModalNode = false;
              openModalEdge = false;
              isDFS = true;
            }
          }"
        >
          DFS
        </button>

        <button type="button" class="btn-f btn-create-edge">Dijkstra</button>
        <button type="button" class="btn-f btn-create-edge">Prim</button>
      </div>
      <transition name="fade">
        <modal class="modal" v-show="openModalNode">
          <div class="modal-title"></div>
          <label for="nomeNode">
            <h3>Nome do Nó:</h3>
            <input type="text" v-model="nodeName" />
          </label>
          <div class="property" v-for="(property) in nodeProperties">
            <label for="duration">Nome da propriedade:</label>
            <input type="text" v-model="property.fieldName" required />
            <label for="duration">Valor da propriedade:</label>
            <input type="text" v-model="property.fieldValue" required />
          </div>
          <div class="btn-style">
            <button @click="addNodeProperty">Adicionar propriedade</button>
            <button @click="removeNodeProperty">Remover propriedade</button>
            <button @click="sendNode">Enviar</button>
          </div>
        </modal>
      </transition>
      <transition name="fade">
        <modal class="modal" v-show="openModalAlg">
          <div class="modal-title"></div>
          <label for="nomeNode">
            <h3>Nome da relação:</h3>
            <input type="text" v-model="algRelationName" />
          </label>
          <div class="btn-style">
            <button @click="populateDFS">Enviar</button>
          </div>
        </modal>
      </transition>
      <transition name="fade">
        <modal class="modal" v-show="openModalRelation">
          <div class="modal-title"></div>
          <label for="relation-name">
            <h3>Nome da Relação:</h3>
            <input
              v-model="relationName"
              type="text"
              id="relation-name"
              class="relation-name"
              name="relation-name"
            />
          </label>
          <label for="first-node-name">
            Nome do primeiro nó:
            <input
              v-model="firstNodeName"
              type="text"
              id="first-node-name"
              class="first-node-name"
              name="first-node-name"
            />
          </label>
          <label for="second-node-name">
            Nome do segundo nó:
            <input
              v-model="secondNodeName"
              type="text"
              id="second-node-name"
              class="second-node-name"
              name="second-node-name"
            />
          </label>
          <!-- <div class="property" v-for="(property) in edgeProperties">
            <label for="duration">Nome da propriedade:</label>
            <input type="text" v-model="property.fieldName" required>
            <label for="duration">Valor da propriedade:</label>
            <input type="text" v-model="property.fieldValue" required>
          </div> -->
          <div class="btn-style">
            <!-- <button @click="addEdgeProperty">Adicionar propriedade</button>
            <button @click="removeEdgeProperty">Remover propriedade</button> -->
            <button @click="sendRelation">Enviar</button>
          </div>
        </modal>
      </transition>
      <transition name="fade">
        <modal class="modal" v-show="openModalEdge">
          <div class="modal-title"></div>
          <label for="relation-name">
            <h3>Nome da Aresta:</h3>
            <input
              v-model="edgeName"
              type="text"
              id="relation-name"
              class="relation-name"
              name="relation-name"
            />
          </label>
          <label for="first-node-name">
            Id do primeiro nó:
            <input
              v-model="firstNodeId"
              type="text"
              id="first-node-name"
              class="first-node-name"
              name="first-node-name"
            />
          </label>
          <label for="second-node-name">
            Id do segundo nó:
            <input
              v-model="secondNodeId"
              type="text"
              id="second-node-name"
              class="second-node-name"
              name="second-node-name"
            />
          </label>
          <div class="property" v-for="(property) in edgeProperties">
            <label for="duration">Nome da propriedade:</label>
            <input type="text" v-model="property.fieldName" required />
            <label for="duration">Valor da propriedade:</label>
            <input type="text" v-model="property.fieldValue" required />
          </div>
          <div class="btn-style">
            <button @click="addEdgeProperty">Adicionar propriedade</button>
            <button @click="removeEdgeProperty">Remover propriedade</button>
            <button @click="sendEdge">Enviar</button>
          </div>
        </modal>
      </transition>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.22.0/bootstrap-vue.min.js"
      integrity="sha512-fpl6VxrVL83pzi0dMBPknsykT+mf3+TLzBigOtNKp1cPi2oEpooeOzTb+tOku1YhL7/0eDfe9nnzCPzuAwvtog=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.3.3/echarts.min.js"
      integrity="sha512-2L0h0GhoIHQEjti/1KwfjcbyaTHy+hPPhE1o5wTCmviYcPO/TD9oZvUxFQtWvBkCSTIpt+fjsx1CCx6ekb51gw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js"></script>
  </body>
</html>
